{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<h1>
		Hello !
	</h1>
	<div >
		<a href="{{path('shorten')}}" class="btn btn-primary"> Shorten your url in a unique form ! </a>
	</div>
	<hr>
</div>

<div class="container">
	<h2> Latest Shortened Urls List</h2>
	<table class="table">
		<thead>
		<tr>
		<th> Original Url </th>
		<th> Shortened Url </th>
		<th> Created at </th>
		<th> Number of clicks </th>
		</tr>
		</thead>
		<tbody>
			
			{% for url in urls %}
			<tr>
			<td>{{url.originalUrl}}</td>
			<td><a href="{{path('redirect_to_slug', {slug: url.slug})}}" >{{url.slug}}</a></td>
			<td>{{url.createdAt | date('d/m/Y H:i')}}</td>
			<td>{{url.nbClicks}}</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
	
</div>

{% endblock %}